@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'NexaText';
  src: url('../../fonts/nexa-trial-light.otf') format('opentype');
  font-weight: 400;
  font-style: light;
}

@font-face {
  font-family: 'NexaText';
  src: url('../../fonts/nexa-trial-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NexaText';
  src: url('../../fonts/nexa-trial-thinitalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Nexa';
  src: url('../../fonts/nexa-trial-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ChakraPetch';
  src: url('../../fonts/ChakraPetch-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: light;
}

@font-face {
  font-family: 'ChakraPetch';
  src: url('../../fonts/ChakraPetch-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

  @font-face {
  font-family: 'ChakraPetch';
  src: url('../../fonts/ChakraPetch-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* @font-face {
  font-family: 'Nexa';
  src: url('fonts/nexa-trial-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    margin: 0;
    color: white;
    font-family: 'Montserrat', 'ChakraPetch', Arial, Helvetica, sans-serif;
    background-color: #270047;
}

header{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, rgb(14, 1, 24), transparent);
    /* background-color: rgba(0,0,0,0.2); */
    padding-left: 4rem;
    padding-right: 4rem;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 10; /* garante que o header fique acima do fundo */
}

.pesquisa {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    width: 20rem;
    font-size: 1.3rem;
    align-items: center;
    background-color: #512377;
    color: #C37BFF;
    padding-left: 1rem;
    padding-right: 1rem;
    clip-path: polygon(
      0 0,        /* canto superior esquerdo */
      100% 0,     /* canto superior direito */
      100% 65%,   /* desce reto até a metade */
      95% 100%,   /* faz a diagonal até o canto inferior */
      0% 100%     /* canto inferior esquerdo */
    ); /* quebra diagonal */
    border-radius: 4px;
}

.pesquisa img {
  width: 2.5rem;
  height: 2.5rem;
}

input {
  border: none;
  background: none;
  width: 17rem;
  font-family: 'NexaText';
  color: #C37BFF;
}

::placeholder {
  color: #C37BFF;
}

.btn_pesquisa {
  background-color: #512377;
  border: none;
  cursor: pointer;
}

main {
  padding-top: var(--header-height);
  margin-bottom: 3rem;

}

.hero {

  background: url('../../Images/Página\ de\ Apresentação/Fundo.png') center/100% 100% no-repeat;
  
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.principal img {
  margin-top: 10rem;
}

.principal { 
  display: flex;
  width: 100%;
  justify-content: center;
  gap: .5rem;
  align-items: center;
}

.txt_principal {
  width: 30%;
  margin-top: 10rem;
}

.txt_principal p {
  width: 80%;
  font-family: 'Montserrat';
  color: #C37BFF;
  font-size: 2rem;
  font-weight: lighter;
}

.txt_principal h1 {
  width: 90%;
  font-family: 'ChakraPetch';
  font-weight: bold;
  font-size: 6.5rem;
  line-height: 6rem;
}

.comecando {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comecando img {
  width: 10rem;
  height: 15rem;
}

.comecar {
  margin-top: 5rem;
  width: 30rem;
  height: 6rem;
  text-transform: uppercase;
  font-family: 'ChakraPetch';
  background-color: #33005D;
  color: #C37BFF;
  clip-path: polygon(
    0 0,        /* canto superior esquerdo */
    100% 0,     /* canto superior direito */
    100% 100%,  /* desce reto até o canto inferior direito */
    10% 100%,    /* faz a diagonal até 5% da largura e 100% da altura */
    0 60%       /* sobe até 0 da largura e 65% da altura */
  );
  border-radius: .5rem;
  border: none;
  font-size: 3rem;
  cursor: pointer;
}

.comentarios{
  background-image: url(../../Images/Página\ de\ Apresentação/Fundo_linhas.png);
}

.slider { 
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 20px 0;
}

.slider-track {
  display: flex;
  width: calc(300px * 8); /* 8 cards (4 originais + 4 clones) */
  gap: 1.5rem;
}

.card {
  background-color: #F0DEFF;
  color: #000;
  padding: 20px;
  width: 300px;
  min-width: 350px;
  clip-path: polygon(
    0 0,        /* canto superior esquerdo */
    100% 0,     /* canto superior direito */
    100% 100%,  /* desce reto até o canto inferior direito */
    15% 100%,    /* faz a diagonal até 5% da largura e 100% da altura */
    0 80%       /* sobe até 0 da largura e 65% da altura */
  );
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  text-align: center;
  font-weight: bold;
}

/* Animação esquerda */
.slider-track.esquerda {
  animation: scrollEsquerda 20s linear infinite;
}

/* Animação direita */
.slider-track.direita {
  animation: scrollDireita 20s linear infinite;
}

/* KEYFRAMES - movimentos opostos */
@keyframes scrollEsquerda {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* Move metade da largura, pois duplicou */
}

@keyframes scrollDireita {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

/* Pausar no hover */
.slider-track:hover {
  animation-play-state: paused;
}

.foto_txt {
  display: flex;
  align-items: center;
  font-family: 'ChakraPetch';
  gap: 1rem;
}

.foto_txt img {
  width: 5rem;
  height: 5rem;
}

.txtt {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.txtt h1 {
  font-size: 2rem;
}

.txtt p {
  font-size: 1.5rem;
  color: #4D008C;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: lighter;
}

.prcp {
  text-align: left;
  font-family: 'Montserrat';
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: normal;
}

.estrela {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: .3rem;
  margin-top: 1rem;
}

.estrela img {
  width: 1.5rem;
  height: 1.5rem;
}

.Matricule-se {
  margin-top: 1rem;
  /* background-image: url(../../Images/Página\ de\ Apresentação/Fundo_linhas.png); */
}

.txt_matricule{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.txt_matricule h1 {
  font-family: 'ChakraPetch';
  font-size: 9rem;
  text-transform: uppercase;
  width: 130rem;
  text-align: center;
  line-height: 8rem;
}

.txt_matricule img {
  width: 50rem;
}

.txt_matricule p {
  font-size: 4rem;
  font-weight: lighter;
  margin-top: 1rem  ;
}

.Matricular {
  margin-top: 5rem;
  width: 30rem;
  height: 6rem;
  text-transform: uppercase;
  font-family: 'ChakraPetch';
  background-color: #33005D;
  color: #C37BFF;
  clip-path: polygon(
    0 0,        /* canto superior esquerdo */
    100% 0,     /* canto superior direito */
    100% 100%,  /* desce reto até o canto inferior direito */
    10% 100%,    /* faz a diagonal até 5% da largura e 100% da altura */
    0 60%       /* sobe até 0 da largura e 65% da altura */
  );
  border-radius: .5rem;
  border: none;
  font-size: 3rem;
  cursor: pointer;
}

.robô {
  margin-left: 100.5rem;
}

.lazo {
  /* background-image: url(../../Images/Página\ de\ Apresentação/Lazo_fundo.png); */
  background: 
  linear-gradient(#27004780, #27004780), /* camada escura semi-transparente */
  url('../../Images/Página\ de\ Apresentação/Lazo_fundo.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
}

.geral {
  display: flex;
  align-items: center;
  justify-content: center;
}

.org_esqr {
  display: flex;
  flex-direction: column;
  gap: 15rem;
}

.lazo1{
  background-color: #C37BFF;
  font-family: 'ChakraPetch';
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 32rem;
  height: 12rem;
  padding-left: 1rem;
  border-radius: 2rem;
  border-bottom: 5px #9d62cd solid;
  border-right: 5px #9d62cd solid;
}

.lazo1 h2 {
  font-size: 3rem;
}

.lazo1 p {
  font-size: 2rem;
  width: 25rem;
  color: #E6E6E6;
}

.lazo2{
  background-color: #C37BFF;
  font-family: 'ChakraPetch';
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 32rem;
  height: 10rem;
  padding-left: 1rem;
  border-radius: 2rem;
  border-bottom: 5px #9d62cd solid;
  border-right: 5px #9d62cd solid;  
}

.lazo2 p {
  font-size: 2rem;
  width: 25rem;
  color: #fff;
}

.org_dir {
  display: flex;
  flex-direction: column;
  gap: 15rem;
}

.lazo3{
  background-color: #C37BFF;
  font-family: 'ChakraPetch';
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 32rem;
  height: 10rem;
  padding-left: 1rem;
  border-radius: 2rem;
  border-bottom: 5px #9d62cd solid;
  border-right: 5px #9d62cd solid;  
}

.lazo3 p {
  font-size: 2rem;
  width: 25rem;
  color: #fff;
}

.lazo4{
  background-color: #C37BFF;
  font-family: 'ChakraPetch';
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 32rem;
  height: 10rem;
  padding-left: 1rem;
  border-radius: 2rem;
  border-bottom: 5px #9d62cd solid;
  border-right: 5px #9d62cd solid;  
}

.lazo4 p {
  font-size: 2rem;
  width: 25rem;
  color: #fff;
}

.opq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'ChakraPetch';
  margin-top: 4rem;
  gap: 5rem;
}

.primeiroh1 {
  font-style: italic;
  font-size: 9rem;
  line-height: 8rem;
  width: 100rem;
  text-align: center;
  margin-bottom: 5rem;
}
.progressao {
  background-color: #2F0353;
  width: 100rem;
  height: 50rem;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: left;
  padding-top: 2rem;
  gap: 2rem;
}

.progressao h1 {
  font-size: 4rem;
  margin-left: 6rem;
}

.txt1 {
  margin-left: 3rem;
  background-color: #290348;
  width: 90rem;
  height: 15rem;
  border-radius: 3rem;
  font-family: 'Montserrat';
  font-weight: lighter;
  font-size: 2rem;
  padding-left: 3rem;
  display: flex;
  align-items: center;
}

.progressao h2 {
  font-size: 3rem;
  margin-left: 6rem;
}

.txt2 {
  margin-left: 3rem;
  background-color: #290348;
  width: 90rem;
  height: 15rem;
  border-radius: 3rem;
  font-family: 'Montserrat';
  font-weight: lighter;
  font-size: 2rem;
  padding-left: 3rem;
  display: flex;
  align-items: center;
}

.fzrparte {
  margin-top: 2rem;
  width: 28rem;
  height: 4rem;
  text-transform: uppercase;
  font-family: 'ChakraPetch';
  background-color: #33005D;
  color: #C37BFF;
  clip-path: polygon(
    0 0,        /* canto superior esquerdo */
    100% 0,     /* canto superior direito */
    100% 100%,  /* desce reto até o canto inferior direito */
    10% 100%,    /* faz a diagonal até 5% da largura e 100% da altura */
    0 60%       /* sobe até 0 da largura e 65% da altura */
  );
  border-radius: .5rem;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.faleConosco {
  background-color: #2E0053;
  display: flex;
  align-items: center;
  justify-content: center;
}

.txtfc {
  display: flex;
  flex-direction: column;
}

.txtfc h1 {
  font-family: 'ChakraPetch';
}

.txtfc {
  font-family: 'Montserrat';
}

.form {
  display: flex;
  flex-direction: column;
}

.inputss {
  display: flex;
}

.mennsagem {
   clip-path: polygon(
    0 0,        /* canto superior esquerdo */
    100% 0,     /* canto superior direito */
    100% 100%,  /* desce reto até o canto inferior direito */
    10% 100%,    /* faz a diagonal até 5% da largura e 100% da altura */
    0 60%       /* sobe até 0 da largura e 65% da altura */
  );
  background-color: #E8CEFD;
  color: #270047;
  font-family: 'Montserrat';
}

.form button {
  clip-path: polygon(
    0 0,        /* canto superior esquerdo */
    100% 0,     /* canto superior direito */
    100% 100%,  /* desce reto até o canto inferior direito */
    10% 100%,    /* faz a diagonal até 5% da largura e 100% da altura */
    0 60%       /* sobe até 0 da largura e 65% da altura */
  );
  background-color: #08FF00;
  color: #270047;
  font-family: 'ChakraPetch';
}

footer {
  display: flex;
}

.dir {
  display: flex;
  flex-direction: column;
}

.redes {
  display: flex;
}

.pages {
  display: flex;
  flex-direction: column;
}

.red {
  display: flex;
}


