@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    margin: 0;
    color: black;
    font-family: 'Montserrat', 'ChakraPetch', 'Luxurious Script', Arial, Helvetica, sans-serif;
    background-color: #DDD5E4;
}

header{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 4rem;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 10; /* garante que o header fique acima do fundo */
}

.voltar {
    border: none;
    background-color: #270047;
    border-radius: 5rem;
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.voltar img {
    height: 2.5rem;
    width: 2.5rem;
}

.botoes {
    display: flex;
    justify-content: center;
    background-color: #270047;
    width: 8rem;
    height: 4rem;
    gap: 1rem;
    border-radius: 5rem;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
}

.btn img {
    height: 2.5rem;
    width: 2.5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #6C00C4;
    width: 95%;
    margin-top: 2rem;
}

.tudo img {
    height: 4rem;
    width: 15rem;
    margin-top: 2rem;
}

.cert {
    font-size: 5rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 3rem;
    margin-top: 5rem;
}

.txt1 {
    font-size: 2rem;
    margin-bottom: 5rem;
    font-weight: 400;

}

.nome {
    font-size: 9rem;
    color: #270047;
    margin-bottom: 3rem;
}

.txt2 {
    font-size: 2rem;
    text-align: center;
    width: 83%;
    margin-bottom: 6rem;
}

.ass {
    border-bottom: 2px solid #6C00C4;
    font-family: 'Luxurious Script';
    font-size: 4rem;
    width: 40rem;
    text-align: center;
    margin-bottom: 1.2rem;
}

.ass h2 {
    font-weight: lighter;
    line-height: 3.5rem;
}

.prof {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.ano {
    font-size: 1.5rem;
    font-weight: bold;
}