body {
    background-color: #270047;
    background-image: url(../../Images/Login/background.png);
}

.container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    width: 100%;             /* Ocupa toda a largura */
    flex-grow: 1;            /* Ocupa todo o espaço vertical disponível */
}

.conteudo_principal{
    margin-top: 2.0rem;
     background-color: rgba(20, 0, 37, 0.7);
    border-radius: 3.0rem;
    display: flex;
    width: 55.0rem;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 0.0rem;
    text-align: center;
}

h2{
    font-weight: 100;
    margin-top: 0.0rem;
    margin-bottom: 2.0rem;
    text-align: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 25.0rem;
    border-radius: 3.0rem;
}

input{
    height: 2.0rem;
    background-color: #E8CEFD;
    border: none;
    cursor: text;
    clip-path: polygon(
    0 0,        /* canto superior esquerdo */
    100% 0,     /* canto superior direito */
    100% 100%,  /* desce reto até o canto inferior direito */
    3% 100%,    /* faz a diagonal até 5% da largura e 100% da altura */
    0 80%       /* sobe até 0 da largura e 65% da altura */
  );
  padding-left: 1.0rem;
}

input::placeholder{
    color: #3D056C;
    font-size: 1.0rem;
}

.userEmail{
    margin-bottom: 1.2rem;
}


.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;

}

.continuarCom{
    width: 15.0rem;
    height: 29.55px;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    color: #3D056C;
    background-color: white;
    text-decoration: none;
    font-weight: 800;
    font-size: 1.1rem;
    clip-path: polygon(
    0 0,        /* canto superior esquerdo */
    100% 0,     /* canto superior direito */
    100% 100%,  /* desce reto até o canto inferior direito */
    3% 100%,    /* faz a diagonal até 5% da largura e 100% da altura */
    0 80%       /* sobe até 0 da largura e 65% da altura */
  );

}

.logo{
    width: 1.2rem;
    padding-right: 0.5rem;
}

.entrar{
    margin-top: 0.8rem;
    background-color: #3D056C;
    border: none;
    color: white;
    text-align: center;
    width: 5.0rem;
    height: 1.8rem;
    font-size: 1.0rem;
    font-weight: 600;
    cursor: pointer;
    clip-path: polygon(
    0 0,        /* canto superior esquerdo */
    100% 0,     /* canto superior direito */
    100% 100%,  /* desce reto até o canto inferior direito */
    7% 100%,    /* faz a diagonal até 5% da largura e 100% da altura */
    0 80%       /* sobe até 0 da largura e 65% da altura */
  );
}

.lazzo{
    width: 25.5rem;
}

.lazzoImg{
    width: 25.5rem;
}

.esqueceuSenha{
    text-align: right;
    margin-top: 0.3rem;
    margin-bottom: 0.0rem;
    cursor: pointer;
}

.nao_tem_conta{
    text-align: center;
    font-weight: 100;
}

.cadastre_se{
    cursor: pointer;
}

.entrar_tablet, .nao_tem_conta_tablet{
    display: none;
}


   @media (min-width: 768px) and (max-width: 1024px) {

    /*
     * CORREÇÃO 1: Esconda o mascote Lazzo.
     * Em telas de tablet, ele compete por espaço e causa o problema.
     * A melhor experiência é focar 100% no formulário.
    */
   

    /*
     * CORREÇÃO 2: Ajuste o card principal.
     * Damos a ele uma largura máxima, mas permitimos que seja flexível.
    */

    .container {
    width: 80%;             /* Ocupa toda a largura */
}

    .conteudo_principal {
        width: 500%; /* Ocupa 90% da tela, criando pequenas margens laterais automáticas */
        max-width: 550px; /* Define uma largura máxima para não ficar muito largo */
        flex-direction: column; /* Garante que o conteúdo interno fique empilhado */
        margin-top: 2rem;
    }

    /*
     * CORREÇÃO 3: Ajuste o formulário e os inputs para preencher o card.
    */
    .formulario {
        width: 90%; /* Ocupa toda a largura do card */
        padding-top: 2.0rem;
    }

    .inputs {
        width: 100%; /* Ocupa toda a largura do formulário */
    }

    .lazzo{
        width: 100%;
    }

    .lazzoImg{
        width: 17.0rem;
    }

    .entrar_tablet, .nao_tem_conta_tablet{
    display: block;
}

.nao_tem_conta_tablet{
    font-size: 0.83rem;
}

.entrar_tablet{
        margin-top: 0.8rem;
    background-color: #3D056C;
    border: none;
    color: white;
    text-align: center;
    width: 5.0rem;
    height: 1.8rem;
    font-size: 1.0rem;
    font-weight: 600;
    cursor: pointer;
    clip-path: polygon(
    0 0,        /* canto superior esquerdo */
    100% 0,     /* canto superior direito */
    100% 100%,  /* desce reto até o canto inferior direito */
    7% 100%,    /* faz a diagonal até 5% da largura e 100% da altura */
    0 80%       /* sobe até 0 da largura e 65% da altura */
  );
}

.entrar, .nao_tem_conta{
    display: none;
}
}


@media (min-with: 320px) and (max-width: 767px) {

}
