@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #140025;
    color: white;
    font-family: 'Montserrat', 'ChakraPetch', Arial, Helvetica, sans-serif;
    margin-top: 3.0rem;
    margin-left: 2.0rem;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo_material p{
    width: 90.0rem;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

@media (min-width: 768px) and (max-width: 1024px) {

.conteudo_material{
    width: 40.0rem;
}

.conteudo_material p{
    width: 40.0rem;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

.titulo_material{
    margin-bottom: 2.0rem;
    margin-top: 1.0rem;
}
}

@media (min-width: 320px) and (max-width: 767px){


.conteudo_material p{
    width: 18.0rem;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

.titulo_material{
    width: 18.0rem;
    margin-bottom: 2.0rem;
    margin-top: 1.0rem;
}
}