body {
    background-color: #270047;
    background-image: url(../../Images/Página\ de\ Login\ e\ Cadastro/background.png);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo_principal {
    margin-top: 2.0rem;
    background-color: rgba(20, 0, 37, 0.7);
    border-radius: 3.0rem;
    display: flex;
    width: 55.0rem;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0.0rem;
    text-align: center;
    margin-top: 1.3rem;
}

h2 {
    font-weight: 100;
    margin-top: 0.2rem;
    margin-bottom: 2.0rem;
    text-align: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 25.0rem;
    align-items: flex-start; 
}

.userEmail {
    display: block;
    width: 100%;
    height: 2.5rem;
    background-color: #E8CEFD;
    border: none;
    padding-left: 1.0rem;
    box-sizing: border-box;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 3% 100%, 0 80%);
    margin-bottom: 1.2rem; 
}

.password-label {
    position: relative;
    display: flex;
    align-items: center; 
    width: 100%;
    margin-bottom: 1.2rem;
}

.password-label .form-control {
    width: 100%;
    height: 2.5rem;
    background-color: #E8CEFD;
    border: none;
    padding-left: 1.0rem;
    padding-right: 45px; 
    box-sizing: border-box;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 3% 100%, 0 80%);
}

.password-label i {
    position: absolute;
    right: 15px;
    cursor: pointer;
    color: #3D056C;
}

.inputs .msg-erro {
    display: none; 
    text-indent: 10px; 
    margin-top: -10px; 
    margin-bottom: 10px; 
    font-size: 0.8rem;
    color: red;
}

.form-check {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 1.2rem;
}

input::placeholder {
    color: #3D056C;
    font-size: 1.0rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.entrar {
    margin-top: 15px;
    background-color: #3D056C;
    border: none;
    color: white;
    text-align: center;
    width: 5.5rem;
    height: 1.8rem;
    font-size: 1.0rem;
    font-weight: 600;
    cursor: pointer;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 7% 100%, 0 80%);
}

.lazzo, .lazzoImg {
    width: 25.5rem;
}

.nao_tem_conta {
    text-align: center;
    font-weight: 100;
}

.cadastre_se {
    cursor: pointer;
}

.form-check-input {
    margin-top: 0 !important;
    width: 18px;
    height: 18px;
    accent-color: #C37BFF;
}

.form-check-label {
    color: #C37BFF;
    line-height: 1.2;
}
